body, html{
    height: 100%;
    margin: 0;
}

.bg-content{
    background-image: url('./img/bg-site.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}